---
import PostItem from "../components/PostItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getArticles } from "../libs/getArticles";
import { getPosts } from "../libs/getPost";
import { postImageUrl } from "../libs/ogImageUrl";

const postEntries = await getPosts();

const postsWithLstMod = await Promise.all(
	postEntries.map(async (post) => {
		return {
			source: "eyemono.log" as const,
			id: post.id,
			title: post.data.title,
			imageUrl: postImageUrl(post, Astro.url.origin),
			createdAt: new Date(post.data.createdAt ?? ""),
			// @ts-expect-error: updatedAtは後から追加されるため型定義出来ていない
			updatedAt: post.data.updatedAt
				? // @ts-expect-error
					new Date(post.data.updatedAt)
				: undefined,
		};
	}),
);

const thirdPartyPosts = await getArticles();
const allPosts = [...postsWithLstMod, ...thirdPartyPosts];
const sortedPosts = allPosts.sort(
	(a, b) => b.createdAt.getTime() - a.createdAt.getTime(),
);
---

<BaseLayout>
  <div class="w-full max-w-1200px mx-auto px-4 md:px-8">
    <h2>ls logs</h2>
    <div class="grid grid-cols-minmax-250px gap-x-4 gap-y-8">
      {
        sortedPosts.map((post) => (
          <PostItem
            href={
              post.source === "eyemono.log" ? `/posts/${post.id}` : post.url
            }
            source={post.source}
            title={post.title}
            imageUrl={post.imageUrl}
            createdAt={post.createdAt}
            updatedAt={post.updatedAt}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
