---
import { Image } from "astro:assets";
import { isSameDay } from "date-fns";
import { formatInTimeZone } from "date-fns-tz";
import { ja } from "date-fns/locale";
import type { PostEntry } from "../content.config";

type Props = PostEntry;

const { source, title, imageUrl, updatedAt, createdAt, url, tags } =
	Astro.props;
const lastModStr = updatedAt
	? formatInTimeZone(updatedAt, "Asia/Tokyo", "yyyy/MM/dd HH:mm", {
			locale: ja,
		})
	: "";
const createdAtStr = formatInTimeZone(
	createdAt,
	"Asia/Tokyo",
	"yyyy/MM/dd HH:mm",
	{ locale: ja },
);
// updatedAtがある && 更新日と作成日が異なる場合は更新日を表示
const showLastMod = updatedAt && !isSameDay(updatedAt, createdAt);
---

<a
  class="group not-prose flex flex-col gap-2"
  href={url}
  rel="noopener noreferrer"
  target={source === "eyemono.log" ? "_self" : "_blank"}
>
  <div class="overflow-hidden rounded">
    {
      imageUrl && (
        <Image
          src={imageUrl}
          alt={title}
          width={500}
          height={500 * (630 / 1200)}
          class="aspect-[1200/630] w-full object-cover group-hover:scale-105 transition-transform"
        />
      )
    }
  </div>
  <div class="space-y-1">
    <h2 class="font-bold">
      {title}
      {
        source !== "eyemono.log" && (
          <div class="inline-block h-0.6lh w-auto aspect-square i-material-symbols:open-in-new-rounded" />
        )
      }
    </h2>
    <div>
      {
        tags && (
          <div class="flex flex-wrap gap-1">
            {tags.map((tag) => (
              <span class="rounded-full b-1 px-1 text-xs c-secondary b-zinc-auto">
                {tag}
              </span>
            ))}
          </div>
        )
      }
    </div>
    <div class="text-sm c-secondary flex flex-wrap gap-2">
      <div class="flex items-center gap-1" title={`created at ${createdAtStr}`}>
        <div
          class="i-material-symbols:schedule-outline-rounded inline-block h-0.8lh w-auto aspect-square"
        >
        </div>
        {createdAtStr}
      </div>
      {
        showLastMod && (
          <div
            class="flex items-center gap-1"
            title={`updated at ${lastModStr}`}
          >
            <div class="i-material-symbols:sync-rounded inline-block h-0.8lh w-auto aspect-square" />
            {lastModStr}
          </div>
        )
      }
    </div>
  </div>
</a>
