---
import { Image } from "astro:assets";
import { isSameDay } from "date-fns";
import { ja } from "date-fns/locale";
import { formatInTimeZone } from "date-fns-tz";
import type { PostEntry } from "../content.config";
import { categoryText } from "../utils/category";
import { postImageUrl } from "../utils/ogImageUrl";

type Props = { post: PostEntry };

const {
	source,
	title,
	updatedAt,
	createdAt,
	url,
	tags = [],
	category,
	size,
} = Astro.props.post;
const lastModStr = updatedAt
	? formatInTimeZone(updatedAt, "Asia/Tokyo", "yyyy/MM/dd HH:mm", {
			locale: ja,
		})
	: "";
const createdAtStr = formatInTimeZone(
	createdAt,
	"Asia/Tokyo",
	"yyyy/MM/dd HH:mm",
	{ locale: ja },
);
// updatedAtがある && 更新日と作成日が異なる場合は更新日を表示
const showLastMod = updatedAt && !isSameDay(updatedAt, createdAt);
const imageUrl = postImageUrl(Astro.props.post, Astro.url.origin);
---

<article class="group not-prose flex flex-col gap-2 relative h-fit isolate">
  <a
    aria-hidden="true"
    tabindex="-1"
    class="inset-0 absolute"
    href={url}
    rel="noopener noreferrer"
    target={source === "eyemono.log" ? "_self" : "_blank"}></a>
  <div class="overflow-hidden rounded z--1">
    {
      imageUrl && (
        <Image
          src={imageUrl}
          alt={title}
          width={500}
          height={500 * (630 / 1200)}
          class="aspect-[1200/630] w-full object-cover group-hover:scale-105 transition-transform"
        />
      )
    }
  </div>
  <div class="space-y-1">
    <div class="text-zinc-5 flex flex-col">
      <div class="text-xs">-rw-r--r-- 1 eyemono eyemono {size}</div>
      <div class="text-sm flex flex-wrap items-center gap-x-2 gap-y-1">
        <div
          title={`created at ${createdAtStr}`}
          class="flex items-center gap-1 min-w-max"
        >
          <div
            class="i-material-symbols:schedule-outline-rounded inline-block h-0.8lh w-auto aspect-square"
          >
          </div>
          {createdAtStr}
        </div>
        {
          showLastMod && (
            <div
              title={`last modified at ${lastModStr}`}
              class="flex items-center gap-1 min-w-max"
            >
              <div class="i-material-symbols:sync-rounded inline-block h-0.8lh w-auto aspect-square" />
              {lastModStr}
            </div>
          )
        }
      </div>
    </div>
    <h2 class="font-bold">
      {title}
      {
        source !== "eyemono.log" && (
          <div class="inline-block h-0.6lh w-auto aspect-square i-material-symbols:open-in-new-rounded" />
        )
      }
    </h2>
    <div>
      <ul class="not-prose list-none flex flex-wrap items-center gap-1">
        {
          source === "trap.jp" ? (
            <li class="i-source:trap inline-block h-0.8lh w-auto aspect-square" />
          ) : source === "zenn.dev" ? (
            <li class="i-source:zenn inline-block h-0.8lh w-auto aspect-square" />
          ) : null
        }
        <li class="z-1">
          <a
            href={`/categories/${category}`}
            class:list={[
              "rounded-full b-1 px-1 text-xs hover:bg-zinc-50 dark:hover:bg-zinc-8/50 transition-[background-color]",
              {
                "c-orange b-orange": category === "idea",
                "c-blue b-blue": category === "tech",
              },
            ]}
          >
            {categoryText(category)}
          </a>
        </li>
        {
          tags.map((tag) => (
            <li class="z-1">
              <a
                href={`/tags/${tag}`}
                class="rounded-full b-1 px-1 text-xs c-secondary b-zinc-auto hover:bg-zinc-50 dark:hover:bg-zinc-8/50 transition-[background-color]"
              >
                {tag}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</article>
