---
import { format } from "date-fns";
import type { Article } from "../utils/getArticles";

type Props = {
	source: Article["source"] | "eyemono.log";
	title: string;
	imageUrl?: string;
	lastmod?: Date;
	href: string;
};

const { source, title, imageUrl, lastmod, href } = Astro.props;
---

<a
  class="group not-prose block"
  href={href}
  rel="noopener noreferrer"
  target={source === "eyemono.log" ? "_self" : "_blank"}
>
  <div class="overflow-hidden rounded">
    <img
      src={imageUrl}
      alt={title}
      class="aspect-[1200/630] w-full object-cover group-hover:scale-105 transition-transform"
    />
  </div>
  <div>
    <h2 class="font-bold">
      {title}
      {
        source !== "eyemono.log" && (
          <div class="inline-block h-0.6lh w-auto aspect-square i-material-symbols:open-in-new-rounded" />
        )
      }
    </h2>
    <div class="text-sm">
      {
        lastmod && (
          <time datetime={lastmod.toISOString()}>
            {format(lastmod, "yyyy/MM/dd")}
          </time>
        )
      }
    </div>
  </div>
</a>
