---
import type { MarkdownHeading } from "astro";
import BaseMeta from "../components/BaseMeta.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseHtml from "./BaseHtml.astro";

type Props = {
	title?: string;
	description?: string;
	headings?: MarkdownHeading[];
	imageUrl?: string;
};

const { headings, title, description, imageUrl } = Astro.props;
const currentUrl = Astro.url;
---

<BaseHtml>
  <BaseMeta
    title={title}
    currentUrl={currentUrl}
    description={description}
    imageUrl={imageUrl}
    slot="head"
  />

  <div class="grid grid-rows-[auto_minmax(0,1fr)_auto] min-h-screen">
    <Header headings={headings} />
    <div>
      <slot />
    </div>
    <Footer />
  </div>
</BaseHtml>
