---
import type { MarkdownHeading } from "astro";
import { isSameDay } from "date-fns";
import { formatInTimeZone } from "date-fns-tz";
import { ja } from "date-fns/locale";
import Toc from "../components/Toc.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = {
	title: string;
	description?: string;
	headings: MarkdownHeading[];
	imageUrl?: string;
	createdAt: Date;
	updatedAt?: Date;
};

const { headings, title, description, imageUrl, createdAt, updatedAt } =
	Astro.props;
const lastModStr = updatedAt
	? formatInTimeZone(updatedAt, "Asia/Tokyo", "yyyy/MM/dd HH:mm", {
			locale: ja,
		})
	: "";
const showLastMod = updatedAt && !isSameDay(updatedAt, createdAt);
---

<BaseLayout
  title={title}
  description={description}
  headings={headings}
  imageUrl={imageUrl}
>
  <article>
    <header>
      <h1 class="max-w-800px mx-auto px-4 text-left w-fit">
        <span>
          {title}
        </span>
      </h1>
      <div class="max-w-1200px mx-auto px-4 md:px-8 text-sm">
        Created At: {
          formatInTimeZone(createdAt, "Asia/Tokyo", "yyyy/MM/dd HH:mm", {
            locale: ja,
          })
        }
      </div>
      {
        showLastMod && (
          <div class="max-w-1200px mx-auto px-4 md:px-8 text-sm">
            Updated At: {lastModStr}
          </div>
        )
      }
    </header>
    <div
      class="max-w-1200px mx-auto px-4 md:px-8 grid grid-cols-[minmax(0,1fr)_0] lg:(grid-cols-[minmax(0,1fr)_16rem] justify-center gap-4)"
    >
      <section class="all-[:not(.rlc-container)_a]:text-link post">
        <slot />
      </section>
      <aside class="hidden lg:block">
        <div class="sticky top-[calc(3.5rem)]">
          <div class="max-h-[calc(100vh-3.5rem)] flex">
            <Toc headings={headings} />
          </div>
        </div>
      </aside>
    </div>
  </article>
</BaseLayout>
<style>
  .post {
    h1,
    h2,
    h3,
    h4,
    h5 {
      a {
        visibility: hidden;
        margin-inline-start: 0.25rem;
      }
      &:hover a {
        visibility: visible;
      }
    }
  }
</style>
